/* Hero Banner */
.hero-banner{
    /* height: 30vh; */
    
}


/* Dés */
.dice-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-dice{
    height: 40vh;
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dice button{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    margin: 10px;
    background-color: #242424;
    color: #FFF;
}

.dice button:hover{
    background-color: #242424d8;
}

.div-btn{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* Tableau */
td button{
    border: 0px !important;
    border-radius: 5px;
}